.transactionTable {
  width: 100%;
  border-collapse: collapse;
  color: var(--main-white);
}

.transactionTableHeader {
  height: 48px;
  background-color: transparent;
}

.transactionTable td {
  padding: 0.75rem;
  font-size: 0.95rem;
  vertical-align: middle;
}

.transactionTable tbody tr:nth-child(even) {
  background: linear-gradient(180deg, #294045 0%, #1e2f33 100%);
}

.transactionTable th {
  text-align: left;
  padding: 0.75rem;
  font-weight: 600;
  font-size: 1rem;
  color: var(--main-white);
  border-bottom: none;
}
