.transactionTable {
  width: 100%;
  border-collapse: collapse;
  color: var(--main-white);
}

.transactionTableHeader {
  height: 48px;
  background-color: transparent;
}

.transactionTable td {
  padding: 0.75rem;
  font-size: 0.95rem;
  vertical-align: middle;
}

.transactionTable tbody tr:nth-child(even) {
  background: linear-gradient(180deg, #294045 0%, #1e2f33 100%);
  border-radius: 16px;
}

.transactionTable th {
  text-align: left;
  padding: 0.75rem;
  font-weight: 600;
  font-size: 1rem;
  color: var(--main-white);
  border-bottom: none;
}
.transactionTable tbody tr:nth-child(even) td:first-child {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.transactionTable tbody tr:nth-child(even) td:last-child {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}
.transactionTable td:nth-child(2),
.transactionTable th:nth-child(2) {
  text-align: center;
}
@media (min-width: 320px) and (max-width: 767px) {
}

/* ************************Мобильная версия***************** */
.transactionCardList {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 288px;
  padding: 0;
  margin: 0;
  list-style: none;
}
