.dude {
  bottom: 40px;
  right: 16px;
  width: 222px;
  height: 166px;
}
.dudeMobile {
  display: block;
  bottom: 23px;   
  right: 12px;
  width: 159px;
  height: 118px;
}

.dudeWrapper {
    display: flex;
  justify-content: flex-end;
  width: 100%;
}
@media screen and (max-width: 1279px) {
  .dude {
    width: 181px;
    height: 135px;
  }
}

@media screen and (min-width: 1400px) {
  .dude {
    width: 100%;
    max-width: 17vw;
    height: calc(17vw * 0.748);
    bottom: 0px;
    top: 50%;
  }
}

@media screen and (min-width: 2500px) {
  .dude {
    width: 26.5625rem;
    height: 19.8688rem;
  }
}