.dude {
  bottom: 40px;
  right: 16px;
  width: 222px;
  height: 166px;
}
.dudeMobile {
  display: block;
  bottom: 23px;   
  right: 12px;
  width: 159px;
  height: 118px;
}

.dudeWrapper {
    display: flex;
  justify-content: flex-end;
  width: 100%;
}
@media screen and (max-width: 1279px) {
  .dude {
    width: 181px;
    height: 135px;
  }
}
