.input:focus {
  background-color: var(--main-light-green);
  color: var(--main-black);
  outline: none;
}

.inputError {
  border-color: var(--main-light-red);
  color: var(--main-light-red);
}

.iconError {
  fill: var(--main-light-red);
}

.error {
  color: var(--main-light-red);
}

.label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
