.inputWrapper {
  display: flex;
  align-items: center;
  gap: 14px;
  border: 1px solid #081222;
  border-radius: 8px;
  padding: 10px;
}

.input {
  font-size: 18px;
  color: #081222;
  border: none;
  outline: none;
  background-color: transparent;
}

.input::placeholder {
  color: #081222;
  opacity: 1;
}
