.inputWrapper {
  display: flex;
  align-items: center;
  gap: 14px;
  border: 1px solid #081222;
  border-radius: 8px;
  font-weight: 500;
  padding: 10px;
}

.input {
  font-size: 18px;
  color: #081222;
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
}

.input::placeholder {
  color: #081222;
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .inputWrapper {
    width: 256px;
  }
}
