.tableContainer {
  width: 100%;
  height: 100%;
  max-width: 264px;
  margin-top: 20px;

  border-radius: 8px;
  flex-shrink: 0;
}

.tableHeaderWrapper {
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  background: linear-gradient(180deg, #294045 0%, #1e2f33 100%);

  padding: 16px 28px;
}

.statisticsTableBody {
  margin: 0;
  padding: 0;
}

.headerItem {
  color: var(--main-white);
  font-size: 16px;
  font-weight: 600;
}

.totalTableSumWrapper {
  display: flex;
  justify-content: space-between;

  padding: 16px 28px 16px 28px;
}

.totalTableIncomeExpense {
  color: var(--main-white);
  font-size: 14px;
  font-weight: 600;
}

.totalTableSum {
  color: var(--main-light-green);
  font-size: 14px;
  font-weight: 600;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 3px rgba(0, 0, 0, 0.15);
}

.totalTableSumRed {
  color: var(--main-light-red);
  font-size: 14px;
  font-weight: 600;
}

/** =================== Mobile: { min-width: 320px } =================== */

@media (min-width: 320px) {
  .tableContainer {
    max-width: 264px;
  }
}

/* =================== / Mobile: { min-width: 320px } =================== */
/** =================== Tablet: { min-width: 768px } =================== */

@media screen and (min-width: 768px) {
  .tableContainer {
    max-width: 317px;
  }
}

/* =================== / Tablet: { min-width: 768px } =================== */
/** =================== Desktop: { min-width: 1280 px } =================== */
@media (min-width: 1280px) {
  .tableContainer {
    max-width: 395px;
  }
}
/*! =================== / Desktop: { min-width: 1280 px } =================== */
