.icon {
  margin-right: 12px;
}

.selectError {
  border-color: var(--main-red);
}

.error {
  color: var(--main-red) !important;
  font-size: 12px;
  font-weight: 400;
}

@media (max-width: 320px) {
}
