/* ======== BASE STYLES ======== */

.overlay {
  position: fixed;
  inset: 0;
  background: var(--main-Bg-lighter, rgba(46, 47, 66, 0.4));
  backdrop-filter: blur(3.5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  padding: 53px 62px 47px;
  width: 533px;
  border-radius: 1rem;
  background: var(--main-Light-green, #508f8c);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.logo {
  width: 11.375rem; /* 182px */
  height: 5.875rem; /* 94px */
}

.message {
  color: var(--main-Black, #081222);
  text-align: center;
  font-size: 1.125rem; /* 18px */
  margin-top: 38px;
  margin-bottom: 24px; /* 16px */
}

/* ======== TABLET + DESKTOP ======== */

@media (max-width: 768px) {
  .modal {
    width: 280px;
    padding: 16px 22px;
  }

  .message {
    max-width: 196px;
    margin-top: 2.375rem; /* 38px */
    margin-bottom: 1.5rem; /* 24px */
  }
}
