.title {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  color: var(--main-black);
}

.form {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  margin-top: 40px;
  z-index: 1000;
}
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 36px;
  margin-bottom: 30px;
}

.inputWrapper {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.btnGroup {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.modal {
  position: relative;
  z-index: 1001;
  animation: fadeInUp 0.3s ease;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
