.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(7px);
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: var(--main-light-green);
  padding: 40px 65px 46px;
  border-radius: 8px;
  width: 100%;
  max-width: 510px;
  position: relative;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.title {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  color: var(--main-black);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
}

.inputWrapper {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin-bottom: 36px;
}

.input {
  padding: 0.75em;
  background: none;
  border-radius: 8px;
  padding: 10px 14px;
  border: 1px solid #27393d;
  font-weight: 500;
  font-size: 18px;
  color: var(--main-black);
}

.input::placeholder {
  font-weight: 500;
  font-size: 18px;
  background: linear-gradient(180deg, #355359 0%, #3b5d63 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.inputGeneral {
  width: 193px;
  height: 44px;
}
.inputComment {
  width: 410px;
  height: 44px;
  margin-bottom: 38px;
}

.inputGeneral .btnGroup {
  display: block;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 21px;
  justify-content: space-between;
}

.btnGroup {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.submitBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 11px 79px;
  width: 410px;
  height: 44px;
  background: linear-gradient(180deg, #355359 0%, #3b5d63 100%);
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s ease;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: var(--main-white);
}

.submitBtn:hover {
  background-color: #417976;
}

.cancelBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--main-black);
  background: none;
  border-radius: 8px;
  padding: 11px 68px;
  width: 410px;
  height: 44px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s ease;
}

.cancelBtn:hover {
  background-color: #cfcfcf;
}
