.dev-panel {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.1);
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: .5em;
    box-shadow: 3px 3px 3px #8e8b8b;
    z-index: 10000;

}

.dev-panel>button,
.link {
    margin-bottom: .5em;
}



.link.active {
    text-decoration: underline;
}