.inputAmount {
  padding: 10px 14px;
  background: none;
  border-radius: 8px;
  border: 1px solid var(--main-black);
  font-weight: 500;
  font-size: 18px;
  color: var(--main-black);
  width: 193px;
  transition: border-color 0.3s ease;
  outline: none;
}

.inputAmountError {
  border-color: var(--main-red);
}

.inputAmountError::placeholder {
  background: none;
  -webkit-text-fill-color: var(--main-red);
  color: var(--main-red);
  opacity: 1;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.error {
  color: var(--main-red) !important;
  font-size: 12px;
  font-weight: 400;
}

@media (max-width: 590px) {
  .inputAmount {
    width: 100%;
  }
}
