.inputWrapper {
  display: flex;
  align-items: center;
  gap: 14px;
  border: 1px solid #081222;
  border-radius: 8px;
  padding: 10px;
}

.input {
  font-size: 1.12rem;
  color: #081222;
  border: none;
  outline: none;
  background-color: #508F8C;
}

.input:focus {
  background-color: #508F8C;
  color: #081222;
  outline: none;
}

.inputError {
  border-color: #f23a3a;
  color: #f23a3a;
}

.input::placeholder {
  color: #081222;
  opacity: 1;
}

.iconError {
  fill: #f23a3a;
}

.error {
  color: #f23a3a;
}
