.toggleGroup {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  margin-bottom: 32px;
}

.span {
  font-weight: 600;
  font-size: 16px;
  text-align: right;
  color: var(--main-black);
}

.toggle {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 40px;
}

.toggleInput {
  height: 0;
  width: 0;
  opacity: 0;
}

.toggleSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  border-radius: 30px;
  transition: background-color 0.4s;
}

.toggleSlider::before {
  content: '';
  background-image: url('./../../assets/+.svg');
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -4px;
  bottom: -2px;
  height: 44px;
  width: 44px;
  background-color: var(--main-yellow);
  border-radius: 30px;
  transition: transform 0.3s, background-color 0.3s;
}

.toggleInput:focus + .toggleSlider {
  box-shadow: 0 0 1px #333;
}

.toggleInput:checked + .toggleSlider {
  background-color: var(--main-white);
}

.toggleInput:checked + .toggleSlider::before {
  content: '';
  background-image: url('./../../assets/-.svg');
  transform: translateX(40px);
  background-color: var(--main-red);
}

@media screen and (max-width: 320px) {
  .toggle {
    width: 88px;
    height: 40px;
  }

  .toggleSlider::before {
    width: 48px;
    height: 44px;
  }

  .toggleInput:checked + .toggleSlider::before {
    transform: translateX(45px);
  }
  .toggleGroup {
    margin-bottom: 30px;
  }
}
