.toggleGroup {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  margin-bottom: 32px;
}

.span {
  font-weight: 600;
  font-size: 16px;
  text-align: right;
  color: var(--main-black);
}

.toggle {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 40px;
}

.toggleInput {
  height: 0;
  width: 0;
  opacity: 0;
}

.toggleSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  border-radius: 30px;
  transition: background-color 0.4s;
}

.toggleSlider::before {
  content: none;
}

.iconWrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  left: -4px;
  bottom: -2px;
  border-radius: 30px;
  pointer-events: none;
  transition: transform 0.3s, background-color 0.3s;
}

.icon {
  width: 16px;
  height: 16px;
  stroke: var(--main-white);
  stroke-width: 2;
  fill: none;
}

.income {
  background-color: var(--main-yellow);
  transform: translateX(0);
}

.expense {
  background-color: var(--main-red);
  transform: translateX(40px);
}

@media screen and (max-width: 320px) {
  .toggle {
    width: 88px;
    height: 40px;
  }

  .iconWrapper.expense {
    transform: translateX(45px);
  }

  .toggleGroup {
    margin-bottom: 30px;
  }
}
