.inputWrapper {
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 10px 14px;
  width: 409px;
  gap: 14px;
  border: 1px solid var(--main-black);
}

.input {
  font-size: 18px;
  color: var(--main-black);
  border: none;
  outline: none;
  background-color: transparent;
}

.input::placeholder {
  color: var(--main-black);
  opacity: 1;
}
