/* ======== BASE STYLES ======== */

.button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  width: 100%;
  height: 2.75rem; /* 44px */
  border-radius: 0.5rem;
  background: var(
    --main-Bg-lighter,
    linear-gradient(180deg, #355359 0%, #3b5d63 100%)
  );
  color: var(--main-White, #fcfcfc);
  text-align: center;
  font-size: 1.125rem; /* 18px */
  font-weight: 500;
}
