.container {
  border-radius: 16px;
  padding: 23px 27px 44px 24px;
  width: 451px;
  height: 469px;
  background: linear-gradient(180deg, #355359 0%, #3b5d63 100%);
}
.dudeWrapper {
  position: static;
  overflow: hidden;
  max-width: 100%;
  justify-self: center;
}

@media screen and (min-width: 1400px) {
  .container {
    max-width: 100%;
    width: 100%;
    height: calc(37vw * 1.05);
  }
}

@media screen and (min-width: 2500px) {
  .container {
    width: 57.8125rem;
    height: 60.7031rem;
  }
}