.form {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  justify-content: space-between;
  gap: 35px;
  width: 100%;
  max-width: 409px;
  min-height: 260px;
}

.inputFields,
.btnFields {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

@media screen and (max-width: 767px) {
  .form {
    gap: 16px;
  }
  .inputFields,
  .btnFields {
    gap: 16px;
  }
}