.comment {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 10em;
}

.transactionRow:focus>.comment>.commentContent {
  position: relative;
  width: 100%;
}

.buttonWrapper {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
}
.editButton {
  background-color: transparent;
  border: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 8px;
}

.editButton:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.editButton img {
  width: 14px;
  height: 14px;
}

.deleteButton {
  border: 1px solid var(--main-white);
  border-radius: 8px;
  padding: 4px 12px;
  background-color: transparent;
  color: var(--main-white);
  font-size: 0.85rem;
  font-weight: 500;
  cursor: pointer;
}

.deleteButton:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
