.comment {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 5em;
}
/* .comment:hover {
  overflow: visible;
  white-space: normal;
  max-width: none;
} */
.comment:focus {
  transform: scale3d(1.05, 1.05, 1);
  transition: transform 0.2s ease-in-out;
}
.transactionRow:focus > .comment > .commentContent {
  position: relative;
  width: 100%;
}

.editButton {
  background-color: transparent;
  stroke: var(--main-white);
  fill: none;
  color: var(--main-white);
  border: none;
  text-align: right;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .editButton {
    padding: 0;
  }
}
.editButtonText {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--main-white);
}

.editButton:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.editButton img {
  width: 14px;
  height: 14px;
}

.deleteButton {
  border: 1px solid var(--main-white);
  border-radius: 8px;
  padding: 4px 12px;
  background-color: transparent;
  color: var(--main-white);
  font-size: 0.85rem;
  font-weight: 500;
  cursor: pointer;
}

.deleteButton:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* ********************** */

.transactionCard {
  position: relative;
  padding: 16px;
  border-radius: 16px;
  color: var(--main-white);
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow: hidden;
  background: linear-gradient(180deg, #355359 0%, #3b5d63 100%);
}

.income::before,
.expense::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 6px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.income::before {
  background-color: #24cca7;
}

.expense::before {
  background-color: var(--main-yellow);
}

.transactionField svg.divider {
  width: calc(100% + 32px);
  margin-left: -16px;
  margin-right: -16px;
  height: 2px;
  display: block;
}
.transactionField {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 0.95rem;
  flex-grow: 1;
  height: 48px;
}

.buttonWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}
