.homeTabContainer {
  border-radius: 1rem;
  width: 50vw;
  height: 60vh;
  background-color: var(--main-light-green);
  color: var(--main-white);
}

@media (min-width: 1280px) {
  .homeTabContainer {
    max-width: 60vw;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .homeTabContainer {
    max-width: 55vw;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .homeTabContainer {
    max-width: 100%;
  }
}
