.form {
display: flex;
flex-direction: column;
background-color: #508F8C;
justify-content: space-between;
gap: 35px;
margin: 34px 0 auto; 
width: 100%;
max-width: 409px;
min-height: 260px;
padding-bottom: 82px;
}

.inputFields,
.btnFields {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

