.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 17px;
  text-align: center;
  color: var(--main-white);
}

.logo.black {
  color: var(--main-black);
  font-size: 30px;
}

.logoIcon {
  fill: var(--main-black);
  width: 27px;
  height: 21px;
}

.logoIcon.black {
  width: 46px;
  height: 36px;
}
