.deleteBtn {
  border-radius: 0.5rem;
  padding: 0.6875rem 4.9375rem;
  width: 100%;
  height: auto;
  background-color: var(--main-red);
  font-size: 1.125rem;
  text-align: center;
  color: var(--main-white);
  margin-bottom: 0.75rem;
}
.deleteBtn:hover,
.deleteBtn:focus,
.deleteBtn:active {
  background-color: var(--main-light-red);
  box-shadow: none;
  outline: none;
}
.logo {
  width: 11.375rem;
  height: 5.875rem;
}
.text {
  font-size: 1.125rem;
  text-align: center;
  color: var(--main-black);
  margin-top: 38px;
  margin-bottom: 24px;
}
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media (max-width: 768px) {
  .deleteBtn {
    margin-bottom: 1.3125rem;
  }

  .text {
    max-width: 100%;
    margin-top: 2.375rem;
    margin-bottom: 1.5rem;
  }
}
