/* desktop */
.mobileOnly {
  display: none;
}
.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 26px;
  border-radius: 16px;
  padding: 16px 32px;
  gap: 10px;
  width: 451px;
  height: 100%;
  background: linear-gradient(180deg, #355359 0%, #3b5d63 100%);
}
.linkText {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: var(--main-white);
}
.active {
  font-weight: 700;
}
.link.active .linkText {
  font-weight: 700;
}
.wrapper {
  display: flex;
  justify-content: left;
}
.svgContainer {
  display: flex;
  align-items: center;
}
.icon {
  border-radius: 2px;
  width: 20px;
  height: 20px;
  padding: 0;
  margin-right: 23px;
  fill: white;
  opacity: 0.7;
}
.activeIcon {
  fill: #172326;
  opacity: 1;
}
.currencyIcon {
  transform: translateY(3px) scale(0.85);
}

/* tablet */

@media screen and (max-width: 1279px) {
  .container {
    padding: 16px;
    width: 338px;
    height: 143px;
    gap: 24px;
    justify-content: center;
  }
  .link.active .linkText {
    font-weight: 700;
  }
}

/* mobile */
@media screen and (max-width: 767px) {
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
  .mobileOnly {
    display: inline-block;
  }
  .container {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: auto;
    width: 100%;
    background: none;
    gap: 0;
    margin-bottom: 0;
  }
  .icon {
    opacity: 0.6;
    width: 44px;
    height: 44px;
    margin-right: 0;
  }
  .activeIcon {
    fill: white;
    opacity: 1;
  }
  .linkText {
    display: none;
  }
  .svgContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .link {
    padding: 0;
  }
}
