.mobileOnly {
  display: none;
}

@media screen and (max-width: 767px) {
  .mobileOnly {
    display: inline-block;
  }
}

.container {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  padding: 16px 32px;
  gap: 10px;
  width: 451px;
  height: 100%;
  background: linear-gradient(180deg, #355359 0%, #3b5d63 100%);
}

.link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: var(--main-white);
}
.active {
  font-weight: 700;
}

.svg {
  fill: white;
  width: 18px;
  height: 18px;
  display: inline-block;
}
