.btnWrapper {
  display: flex;
  align-items: center;
  border: 1px solid var(--main-black);
  border-radius: 8px;
  padding: 10px;
  background-color: transparent;
  font-size: 18px;
  justify-content: center;
  color: var(--main-black);
}
