.modalOverlay {
  position: fixed;
  inset: 0;
  background: var(--main-Bg-lighter, rgba(46, 47, 66, 0.4));
  backdrop-filter: blur(3.5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  overflow-y: auto;
}

.modalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px 65px 46px;
  border: none;
  border-radius: 8px;
  background: var(--main-light-green);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  max-height: 100vh;
  overflow-y: auto;
}

@media (max-width: 320px) {
  .modalContent {
    width: 95vw;
    max-width: none;
    padding: 40px 8px 24px;
    height: auto;
    max-height: 90vh;
  }
}
