.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 16px 17px 30px;
  background: linear-gradient(180deg, #355359 0%, #3b5d63 100%);
}

.logo {
  flex-shrink: 0;
}

.userMenu {
  display: flex;
  align-items: center;
  gap: 16px;
}

@media (max-width: 768px) {
  .header {
    padding: 12px 11px;
  }
}
@media (max-width: 320px) {
  .header {
    padding: 7px 16px;
  }
}
