.addTransactionButton {
  position: absolute;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  transform: rotate(180deg);
  outline: none !important;
  right: 30px;
  bottom: 24px;
}

.addTransactionButton:hover {
  transform: scale(1.05);
  outline: none !important;
}

.addTransactionButton svg path {
  outline: none !important;
  stroke: black !important;
}
