.addTransactionButton {
  position: absolute;
  background: none;
  border: none;
  padding: 0;

  cursor: pointer;
  z-index: 1000;
  transition: transform 0.2s ease-in-out;
  transform: rotate(180deg);
}

.addTransactionButton:hover {
  transform: scale(1.05);
}

.addTransactionButton svg path {
  stroke: black !important;
}
