.addTransactionButton {
  position: sticky;
  background-color: transparent;
  margin-top: auto;
  border-radius: 50%;
  margin-left: auto;
  bottom: 24px;
  left: 24px;
  align-self: flex-end;
  z-index: 100;
  border: none;
  cursor: pointer;

  @media screen and (max-width: 767px) {
    .addTransactionButton {
      position: fixed;
    }
  }
}
