.btnWrapper {
  display: flex;
  align-items: center;
  border: 1px solid #081222;
  border-radius: 8px;
  padding: 10px;
  background-color: #508f8c;
  font-size: 18px;
  justify-content: center;
  color: #081222;
}
