/* @media screan and (min-width: 768px) {
  .wrapper {
    gap: 16px;
    background-color: var(--main-light-green);
    border-radius: 16px;
    padding: 40px 60px 50px;
  }
} */
.title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  color: var(--main-white);
  opacity: 0.7;
}
.amount {
  font-family: var(--font-family);
  margin: 0 0 23px 0;
  font-weight: 700;
  font-size: 30px;
  color: var(--main-white);
}

@media screen and (max-width: 1279px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
  }
  .title {
    padding-top: 20px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    background: linear-gradient(180deg, #355359 0%, #3b5d63 100%);
    border-radius: 16px;
    padding: 24px 16px;
    width: 288px;
    height: 115px;
  }
}
