.inputComment {
  padding: 0.75em;
  background: none;
  border-radius: 8px;
  padding: 10px 14px;
  border: 1px solid #27393d;
  font-weight: 500;
  font-size: 18px;
  color: var(--main-black);
  width: 410px;
  height: 44px;
}

.inputComment::placeholder {
  font-weight: 500;
  font-size: 18px;
  background: linear-gradient(180deg, #355359 0%, #3b5d63 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
