.userMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}
.name {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  text-align: right;
  color: var(--main-white);
}
